<html>
<body>

<center>

<h2>List Of Pages</h2><!--<button type="submit" class="btn" onclick="getlist()">Get List</button>-->

<a href="#" id="message0" onclick="value(0)"></a>
<a href="#" id="message1" onclick="value(1)"></a>
<a href="#" id="message2" onclick="value(2)"></a>
<a href="#" id="message3" onclick="value(3)"></a>
<a href="#" id="message4" onclick="value(4)"></a>
<a href="#" id="message5" onclick="value(5)"></a>
<a href="#" id="message6" onclick="value(6)"></a>
</center>



</body>
<style>

.btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

</style>
<script>

var accessToken,pageID,pageAccessToken,data


window.fbAsyncInit = function() {
  FB.init({
    appId      : '1961771230784488',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });
  FB.getLoginStatus(
    function(response){
      console.log(response);
      accessToken = response.authResponse.accessToken;
      console.log(accessToken);
      FB.api(
        //'/241890783374553',
        '/me/accounts',
        'GET',
        {
          "access_token": accessToken,
        },
        function(response) {
            console.log(accessToken);
            console.log(response);
            for(var i = 0;i<response.data.length;i++){
                document.getElementById("message"+i).innerHTML = response.data[i].name;
            }
            data=response;
            //window.location = 'https://kalyan98.pythonanywhere.com/page-info/';
        }
      );
    }//, { auth_type: 'reauthorize' }
    //window.location = window.location.href +'page-info/';
  );
  //hey(accessToken);
  //window.setTimeout(hey(accessToken), 7000);
};

// Load the SDK asynchronously
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function value(num){
  localStorage.setItem("pageAccessToken",data.data[num].access_token);
  localStorage.setItem("pageID",data.data[num].id);
  localStorage.setItem("pageName",data.data[num].name);
  pageID = data.data[num].id;
  pageAccessToken = data.data[num].access_token;
  FB.api(
    //'/241890783374553',
    '/'+pageID,
    'GET',
    {"fields":"about,attire,bio,location,parking,hours,emails,website,description,phone,general_info,name,category",
     //"access_token":"EAAb4OHVXaZBgBAHjusH5QHzav8qJYHSmrUdKBKIv0jGu45qxgrzxnpT2UfuqOQDkZC5tU19ZCBGo48ORJv2GMiWRqEr78vKdcZBe3KkjOoe7sDJsyq0M9pIcRxxLZB7cRiS2somKPXabISG0ZCZA1O1ZBZAn0bQNlXoPUFc37PQpiHwZDZD"
     "access_token":pageAccessToken,
    },
    function(response) {
        // Insert your code here
        console.log(response);
        //document.getElementById("message").innerHTML = "Name : "+response.name+" <br>"+"Category : "+response.category+" <br>"+"Website : "+response.website+" <br>"+"Phone : "+response.phone+" <br>"+"General Info : "+response.general_info+" <br>"+"About : "+response.about+" <br>"+"Description : "+response.description+" <br>"+"Bio : "+response.bio+" <br>"+"Email : "+response.emails+" <br>";
        localStorage.setItem("Category", response.category);
        localStorage.setItem("Website", response.website);
        localStorage.setItem("Phone", response.phone);
        localStorage.setItem("General Info", response.general_info);
        localStorage.setItem("About", response.about);
        localStorage.setItem("Description", response.description);
        localStorage.setItem("Personal Info", response.personal_info);
        localStorage.setItem("bio", response.bio);
        localStorage.setItem("Email", response.emails);
      }
    );
  window.location = 'https://kalyan98.pythonanywhere.com/page-info/';
}

</script>
</html>
